<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shiaoofficebuilding">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity android:name="ShiAoOfficeBuilding.test.test"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="ShiAoOfficeBuilding.RoomList.getRoomList" />
        <activity android:name="ShiAoOfficeBuilding.Chart.electricityUse"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name="ShiAoOfficeBuilding.Chart.waterUse"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name="ShiAoOfficeBuilding.Apartment.apartment.apartmentActivity"/>
        <activity android:name="ShiAoOfficeBuilding.tools.datepicker"/>

        <activity android:name="ShiAoOfficeBuilding.viewPager.three_ViewPager"
            android:theme="@style/Theme.AppCompat.Dialog.Alert"
            />
        <activity android:name="ShiAoOfficeBuilding.Chart.fundation_Activity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name="ShiAoOfficeBuilding.importancePeople.ImpotantPointActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name="ShiAoOfficeBuilding.Apartment.apartment.staffActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name="ShiAoOfficeBuilding.TemperaryPersonWarning.Temp_Per_Warn_Activity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
    </application>


</manifest>